      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Create Story</h4>
          </div>
          <div class="modal-body">
            <form>
              <p>
                <div class="row">
                  <div class="col-md-12">
                    <input id="createStoryTitle" type="text" class="form-control required" placeholder="Title" />
                  </div>
                </div>
              </p>
              <p>
                <div class="row">
                  <div class="col-md-4">
                    <select id="createStoryAssignee" class="form-control" name="Assignee">
                      <option selected disabled value="">Assignee</option>
                      {{#each assignees}}
                      <option value={{this}}>{{this}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select id="createStoryPriority" class="form-control required" name="Priority">
                      <option selected disabled value="">Priority</option>
                      {{#each priorities}}
                      <option value={{this}}>{{this}}</option>
                      {{/each}}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select id="createStoryPoints" class="form-control required" name="Story Points">
                      <option selected disabled value="">Story Points</option>
                      {{#each costs}}
                        <option value={{this}}>{{this}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
              </p>
              <p>
                <div class="row">
                  <div class="col-md-6">
                    <select id="createStorySprint" class="form-control" name="Sprint">
                      <option selected disabled value="">Sprint</option>
                      {{#each sprints}}
                      <option value={{id}}>{{name}}</option>
                      {{/each}}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <select id="createStoryEpic" class="form-control" name="Feature">
                      <option selected disabled value="">Feature</option>
                      {{#each epics}}
                      <option value="{{name}}">{{name}}</option>
                      {{/each}}
                      </option>
                    </select>
                  </div>
                </div>
              </p>
              <div class="row">
                <div class="col-md-12">
                  <textarea id="createStoryDesc" class="form-control" placeholder="Description"></textarea>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success" id="createStoryBtn">Create</button>
          </div>
        </div>
      </div>