      <div id="story-map-headers">
        <div class="row heading">
          <div class="col-md-2">
            <h3 class="text-center">Sprint</h3>
          </div>
          <div class="col-md-8">
            <h3 class="text-center">Features</p>
          </div>
        </div>
        <div class="row epics break-word" data-columns="{{calc_cols epic}}">
          <div class="col-md-2"></div>
          {{#each epic}}
          <div class="col-md-2">
            <div class="panel panel-default" style="background-color:#{{color}};">
              <div class="panel-body"><strong>{{name}}</strong></div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      {{#each sprint}}
      <div class="row{{#if_odd @index}} odd{{/if_odd}} break-word" data-columns="{{calc_cols epic}}">
        <div class="col-md-2">
          <div class="panel panel-default">
            <div class="panel-body"><strong>{{name}}</strong></div>
          </div>
        </div>
        {{#each epic}}
        <div class="col-md-2">
          {{#each this}}
          <div class="panel panel-default story" id="{{number}}" style="background-color:#{{state.color}};">
            <div class="panel-body">
              <span data-toggle="modal" data-target="#storyModal">
                <a class="nolink" href="#">{{name}}</a>
              </span>
            </div>
          </div>
          {{/each}}
        </div>
        {{/each}}
      </div>
      {{/each}}