      <nav id="menu" class="col" role="navigation">
        <ul class="nav nav-stacked nav-pills">
            <li class="collapse">
              <a class="collapse-toggle active" data-toggle="collapse" data-target="#createModal">
                Create<span class="caret"></span>
              </a>
              <ul id="createModal" class="nav nav-stacked nav-pills collapse" style="width:100%;">
                <li class="nav">
                  <a href="javascript:void(0)">
                    <span data-toggle="modal" data-target="#createEpicModal" class="glyphicon glyphicon-plus">Feature</span>
                  </a>
                </li>
                <li class="nav">
                  <a href="javascript:void(0)">
                    <span data-toggle="modal" data-target="#createSprintModal" class="glyphicon glyphicon-plus">Sprint</span>
                  </a>
                </li>
                <li class="nav">
                  <a href="javascript:void(0)" >
                    <span data-toggle="modal" data-target="#createStoryModal" class="glyphicon glyphicon-plus">Story</span>
                  </a>
                </li>
              </ul>
              <a href="javascript:void(0)" >
                <span data-toggle="modal" data-target="#filtersModal">Filters</span>
              </a>
            </li>
            <li id="sprint-menu"  class="nav">
                <ul class="nav nav-stacked nav-pills">
                  {{#each sprint}}
                    <li>
                        <a href="#nav{{id}}" class="sprint-link">{{name}}
                        <div class="progress progress-striped progress-sprint"> 
                          <div class="progress-bar progress-bar-success" role="progressbar" 
                            aria-valuenow="{{prc}}" aria-valuemin="0" 
                            aria-valuemax="100" style="width: {{prc}}%;">            
                          </div>
                        </div>
                        </a>
                    </li>
                  {{/each}}
                </ul>
            </li>
        </ul>
      </nav>
<div id="scroll-map" class="row">
  <div class="col-map col-sprint"></div>
  <div class="horizontal">
    <div style="width:{{style.width}}px;">
        <div id="story-map-headers">
          <div class="row heading">
            <div class="col">
              <h3 class="text-center">Features</p></h3>
            </div>
          </div>
          <div class="row epics break-word">
            {{#each epic}}
            <div class="col-map">
              {{#unlessvalue name value="unspecified" }}<span class="glyphicon glyphicon-remove-circle delete-epic" data-value="{{name}}"></span>{{/unlessvalue}}
              <div class="panel panel-default" style="background-color:#{{color}};">
                <div class="panel-body feature">
                <strong>{{name}}</strong>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
        {{#each sprint}}
        <div id="nav{{id}}" class="row{{#if_odd @index}} odd{{/if_odd}} break-word">
          {{#each epic}}
          <div class="col-map">
            {{#each this}}
              {{> story this}}
            {{/each}}
          </div>
          {{/each}}
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</row>