<div class="panel panel-default story dd-drag" draggable="true" id="{{number}}" style="border:2px solid #{{state.color}};">
  <div class="panel-header">
      <span>
          <a href="{{url}}" class="issueid pull-left">#{{number}}</a>
          {{#if comments}}
          <span>
              <span class="comments">{{comments}}</span>
              <span class="glyphicon glyphicon-comment"></span>
          </span>
          {{/if}}
          {{#if cost}}<span class="badge">{{cost}}</span>{{/if}}
          <span class="glyphicon glyphicon-remove-circle delete-story pull-right pointer" data-value="{{number}}"></span>
      </span>
  </div>
  <div class="panel-body panel-story">
    <p class="story-title " data-toggle="modal"  data-target="#storyModal">
        <a class="nolink" href="#">
          {{ellipsis name}}
        </a>
    </p>
  </div>
  <p>
  <center>{{#if priority}}<small class="label label-default">Priority: {{priority}}</small>{{/if}}</center>
  </p>
</div>