<div class="modal-dialog">
  <div id ="storyModal-content" class="modal-content" style="border:4px solid #{{state.color}};">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <button id="storyEdit" state="0" type="button" class="btn btn-defualt edit-button pull-right btn-xs hidden" aria-hidden="true">Edit</button>
    <span id="storyTitle">
    <h4 class="modal-title not-edit">
    <a href="{{url}}" class="issueid pull-left">#{{number}}</a>{{name}}</h4>
    </span>
    <br class="edit"/>
  </div>
  <div class="modal-body">
    <form id="story-form">
      <input hidden name="state" value="{{state.state}}">
      <div class="row">
        <div class="col-md-12">
          <input id="storyTitleEdit" type="text" name="title" class="edit form-control hidden" placeholder="Title" value="{{name}}">
        </div>
      </div>
      <p></p>
      <div class="row">
        <div class="col-md-4">
        <span id="storyAsignee" class="not-edit hidden">
          <a {{#if assignee.url}} href="{{assignee.url}}"{{else}} class="nolink" {{/if}} target="_blank">
            <img class="avatar" src="{{assignee.avatar}}"/>{{assignee.name}}
          </a>
        </span>
          <select id="storyAsigneeEdit" class="form-control edit dropdown" name="assignee">
            <option selected disabled>Asignee</option>
            {{#each assignees}}
            <option {{#ifvalue this value=../assignee.name}}selected{{/ifvalue}}>{{this}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-md-4">
          <h4 class="not-edit"><small>Priority: </small><span id="storyPriority" class="label label-success">{{priority}}</span></h4>
          <select id="storyPriorityEdit" class="form-control edit" name="priority">
            <option selected disabled value="">Priority</option>
            {{#each priorities}}
                <option {{#ifvalue this value=../priority }}selected{{/ifvalue}}>{{this}}</option>
            {{/each}}
            </option>
          </select>
        </div>
        <div class="col-md-4">    
          <h4 class="not-edit"><small>Story points: </small><span id="storyPoints" class="not-edit label label-primary">{{cost}}</span></h4>
          <select id="storyPointsEdit" class="form-control edit" name="cost">
            <option selected disabled>Story Points</option>
            {{#each costs}}
              <option {{#ifvalue this value=../cost }}selected{{/ifvalue}}>{{this}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <p>
        <div class="row">
          <div class="col-md-6">
            <h4 class="not-edit"><small>Sprint: </small><span id="storySprint" class="not-edit label label-info">{{sprint}}</span></h4>
            <select id="storySprintEdit" class="form-control edit" name="milestone">
              <option selected disabled>Sprint</option>
              {{#each sprints}}                      
                  <option value="{{id}}" {{#ifvalue name value=../sprint }}selected{{/ifvalue}}>{{name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="col-md-6">
            <h4 class="not-edit"><small>Feature: </small><span id="storyEpic" class="not-edit label" style="background-color: #{{epic.color}}">{{epic.name}}</span></h4>
            <select id="storyEpicEdit" class="edit form-control" name="feature">
              <option selected disabled value="">Feature</option>
              {{#each epics}}                      
                  <option {{#ifvalue name value=../epic.name }}selected{{/ifvalue}}>{{name}}</option>
              {{/each}}
              </option>
            </select>
          </div>
        </div>
      </p>
      <p>
        <div class="row">
          <div class="col-md-12">
            <p id="storyDesc" class="not-edit">{{body}}</p>
            <textarea id="storyDescEdit" class="edit form-control hidden" name="body" placeholder="Description">{{body}}</textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <span class="help-block">Labels</span>
            {{#each labels}}
              <span class="label-cloud label" style="background-color:#{{color}}">
              <input hidden name="labels[]" value="{{name}}"/>{{name}}
              <span class="glyphicon glyphicon-remove-circle delete-label" data-value="{{name}}"></span>
              </span>
            {{/each}}
            <span class="edit label-cloud new-label">
              <input id="labellist" type="text" class="typeahead form-control btn-start"/>
              <input id="newLabelColorInput" type="text" value=""/>
              <button id="newLabelColor" class="btn btn-default btn-middle btn-merge" type="button">Color
              <span class="caret"></span>
              </button>
              <button id="newLabel" class="btn btn-success btn-end btn-merge" type="button">Add</button>
            </span>
          </div>
        </div>
      </p>
    </form>
  </div>
  <div class="modal-body">
    {{#each states}}
      <button type="button"
      {{#ifvalue this.state value=../state.state}}disabled="disabled"{{/ifvalue}}
      value="{{this.state}}" class="not-edit btn btn-sm btn-state" 
      style="background-color:#{{this.color}};">{{this.verb}}</button>
    {{/each}}
  </div>
  <div class="modal-footer">
    <button type="button" id="storyComments" class="btn btn-primary pull-left" data-parent="#accordion" href="#collapseComments">Comments</button>
    <button type="button" id="storyEvents" class="btn btn-primary pull-left" data-parent="#accordion" href="#collapseComments">Events</button>
    <button type="button" id="storySubmit" class="edit btn btn-success pull-right">Update</button>
  </div>
  <p style="margin:10px"></p>
  <div id="storyCollapse" class="panel-collapse collapse out" state="0" style="padding:10px"></div>
  </div>
  <!-- /.modal-content -->
</div>
